In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Read the file
file_to_load = ("vine_table.csv")
vine_df = pd.read_csv(file_to_load)

vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R335E8AC10ZSQZ,5.0,3.0,3.0,N,N
1,R1YQM2K7RFDNXC,4.0,4.0,5.0,N,N
2,R29JSYH0GQ9DED,5.0,2.0,3.0,N,N
3,R2MHBQYSZYOTUU,4.0,4.0,6.0,N,N
4,R3GMAHX1SKXM64,3.0,3.0,5.0,N,N
...,...,...,...,...,...,...
3105515,R2U3SYMFFT5CDY,5.0,5.0,6.0,N,N
3105516,R2A1U58DGJWZ16,4.0,0.0,0.0,N,N
3105517,R1VP70XD8DPCNA,5.0,11.0,14.0,N,N
3105518,R19BK5XRE2OJDK,5.0,1.0,1.0,N,N
3105519,R3JQWUFD611T09,4.0,0.0,0.0,N,N

In [3]:
# Step 1
# Create total_votes dataframe where total_votes count is equal to or 
# greater than 20
total_votes_df = vine_df[vine_df.total_votes >= 20]
total_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5,REKRDALQ4QCD7,4.0,88.0,95.0,N,N
11,R1UTH9P6X3ESXH,5.0,127.0,150.0,N,N
12,RPOM6G3NONUK8,4.0,39.0,45.0,N,N
23,R251GYTWI5UH8O,1.0,5.0,20.0,N,N
24,R29RHFINJ445LN,5.0,54.0,54.0,N,N
...,...,...,...,...,...,...
3105484,R1D5FODCNBBEWC,5.0,26.0,26.0,N,N
3105490,R33JE4TSKDV6WA,5.0,23.0,24.0,N,N
3105504,R12VO0HIZIYBN7,5.0,34.0,35.0,N,N
3105505,R23LMF53N6P91Y,5.0,26.0,28.0,N,N
3105512,R31M20VOJYW2Q8,5.0,49.0,51.0,N,N

In [4]:
# Step 2
# Create a new df filtering total_votes_df where the number of helpful_votes
# divided by total_votes is equal to or greater than 50%
helpful_votes_df = total_votes_df[((total_votes_df["helpful_votes"]/total_votes_df["total_votes"])*100 ) >= 50]
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5,REKRDALQ4QCD7,4.0,88.0,95.0,N,N
11,R1UTH9P6X3ESXH,5.0,127.0,150.0,N,N
12,RPOM6G3NONUK8,4.0,39.0,45.0,N,N
24,R29RHFINJ445LN,5.0,54.0,54.0,N,N
30,R2QPUB8P7FI6HR,5.0,20.0,20.0,N,Y
...,...,...,...,...,...,...
3105484,R1D5FODCNBBEWC,5.0,26.0,26.0,N,N
3105490,R33JE4TSKDV6WA,5.0,23.0,24.0,N,N
3105504,R12VO0HIZIYBN7,5.0,34.0,35.0,N,N
3105505,R23LMF53N6P91Y,5.0,26.0,28.0,N,N
3105512,R31M20VOJYW2Q8,5.0,49.0,51.0,N,N

In [5]:
# Step 3
# Create a new df filtering df in step 2 that retreives all rows where
# a review was written as part of the Vine program (paid), vine == 'Y'
vine_program_paid = helpful_votes_df[helpful_votes_df.vine == "Y"]
vine_program_paid

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [26]:
len(vine_program_paid)

0

In [6]:
# Step 4
# Repeat Step 3, but this time retrieve all the rows where the review was not part 
# of the Vine program (unpaid), vine == 'N'.
vine_program_unpaid = helpful_votes_df[helpful_votes_df.vine == "N"]
vine_program_unpaid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5,REKRDALQ4QCD7,4.0,88.0,95.0,N,N
11,R1UTH9P6X3ESXH,5.0,127.0,150.0,N,N
12,RPOM6G3NONUK8,4.0,39.0,45.0,N,N
24,R29RHFINJ445LN,5.0,54.0,54.0,N,N
30,R2QPUB8P7FI6HR,5.0,20.0,20.0,N,Y
...,...,...,...,...,...,...
3105484,R1D5FODCNBBEWC,5.0,26.0,26.0,N,N
3105490,R33JE4TSKDV6WA,5.0,23.0,24.0,N,N
3105504,R12VO0HIZIYBN7,5.0,34.0,35.0,N,N
3105505,R23LMF53N6P91Y,5.0,26.0,28.0,N,N
3105512,R31M20VOJYW2Q8,5.0,49.0,51.0,N,N

In [10]:
# Step 5
# Determine the total number of reviews, the number of 5-star reviews, and the 
# percentage of 5-star reviews for the two types of review (paid vs unpaid)
unpaid_total_reviews = len(vine_program_unpaid)
unpaid_total_reviews

403807

In [22]:
unpaid_five_star_reviews = vine_program_unpaid[vine_program_unpaid.star_rating == 5.0]
unpaid_five_star_reviews

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
11,R1UTH9P6X3ESXH,5.0,127.0,150.0,N,N
24,R29RHFINJ445LN,5.0,54.0,54.0,N,N
30,R2QPUB8P7FI6HR,5.0,20.0,20.0,N,Y
45,R3CCQZY87T1ZTC,5.0,29.0,52.0,N,N
56,R1LDIEBUJUKXWS,5.0,22.0,23.0,N,N
...,...,...,...,...,...,...
3105484,R1D5FODCNBBEWC,5.0,26.0,26.0,N,N
3105490,R33JE4TSKDV6WA,5.0,23.0,24.0,N,N
3105504,R12VO0HIZIYBN7,5.0,34.0,35.0,N,N
3105505,R23LMF53N6P91Y,5.0,26.0,28.0,N,N
3105512,R31M20VOJYW2Q8,5.0,49.0,51.0,N,N

In [23]:
unpaid_five_star_total = len(unpaid_five_star_reviews)
unpaid_five_star_total

242889

In [24]:
percentage_five_star = (unpaid_five_star_total/unpaid_total_reviews) * 100
percentage_five_star

60.14977452099642